.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
