.container {
  box-sizing: border-box;
  background: var(--white);
  border-radius: 20px;
  padding: 24px 16px 24px 24px;
}

.containerWithButton {
  max-height: 240px;
  height: 240px;

  position: relative;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.mobileContent {
  display: grid;
  gap: 16px;
}
