.container {
  overflow: hidden;
  box-sizing: border-box;

  padding: 36px 30px 28px;
  position: relative;

  border-radius: 36px;

  cursor: pointer;

  max-height: 600px;
  height: 600px;

  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(50px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.containerText {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.img {
  position: absolute;
  right: 0;
  transition: 500ms ease-out;
  bottom: -20px;
}

.largeImg {
  display: block;
}

.tabletImg {
  display: none;
}

.smallImg {
  display: none;
}

.imgContainer.img {
  height: auto !important;
}

.container:hover .img {
  transform: scale(1.1);
}

.text {
  margin-top: 14px;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(0,0,0,0.34);
}

.button {
  position: absolute;
  left: 30px;
  bottom: 28px;
}

@media screen and (max-width: 768px) {
  .img {
    bottom: -60px;
  }
}

@media screen and (max-width: 992px) {
  .tabletImg {
    display: block;
  }

  .largeImg {
    display: none;
  }
}

@media screen and (max-width: 552px) {
  .container {
    max-height: 700px;
    height: 700px;
  }

  .img {
    bottom: -60px;
  }

  .tabletImg {
    display: none;
  }


  .smallImg {
    display: block;
  }
}

@media screen and (max-width: 452px) {
  .container {
    max-height: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 400px) {
  .img {
    width: 100%;
    bottom: -60px;
  }
  .container {
    max-height: 550px;
    height: 550px;
  }
  .text {
    margin-top: 10px;
  }
}


@media screen and (max-width: 350px) {
  .container {
    max-height: 468px;
    height: 468px;
  }
}

