.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1000ms ;
}

.loaderContainer {
    width: 18%;
    min-width: 280px;

}

.avaContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.inactive {
    opacity: 0;
    pointer-events: none;
}

.progressContainer {
    height: 4px;
    width: 100%;
    background: var(--gray-backgorund);
}
.loader {
    width: 0;
    height: 4px;
    background: var(--black);
    transition: 500ms ease;
}

.progressLoader {
    width: 100%;
}
